/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.btn-gradient-2 {
  background: 
    linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}

.btn-gradient-2 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--btn-font-size, 1em);
  color: var(--color-contrast-medium);
  padding: var(--space-xs) var(--space-md);
  cursor: pointer;
  transition: color .2s; 
}
.btn-gradient-2:hover {
  color: var(--color-contrast-high);
}